<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <form method="post">
        <div>

            <div>
                <label for="file">Choose Image</label>
                <input type="file" name="file" accept=".jpg, .JPEG" required>
            </div>

            <div>
                <label for="algo">Choose Algorithm : </label>
                <input type="radio" name="algo" value="Jaccard" required> Jaccard 
                <input type="radio" name="algo" value="Hamming"> Hamming
                <input type="radio" name="algo" value="SSIM"> SSIM
                <input type="radio" name="algo" value="Hausdorff"> Hausdorff
            </div>
            <div>
                <label for="class">Choose a Class : </label>
                  <select id="menu" name="class">
                    <option value="Architecture">Architecture</option>
                    <option value="Auto">Auto</option>
                    <option value="Bath-Baby">Bath Baby</option>
                    <option value="Buildings">Buildings</option>
                    <option value="Clo-occ">Clothing & Occupation</option>
                    <option value="Daily">Daily</option>
                    <option value="Fish">Fish</option>
                    <option value="Flowers">Flowers</option>
                    <option value="Food">Food</option>
                    <option value="Insects">Insects</option>
                    <option value="Instruments">Instruments</option>
                    <option value="Land">Land</option>
                    <option value="Land-small">Land small</option>
                    <option value="Nature">Nature</option>
                    <option value="Prints">Prints</option>
                    <option value="Random Objects">Random</option>
                    <option value="Reptiles">Reptiles</option>
                    <option value="Sea">Sea</option>
                    <option value="Signs">Signs</option>
                    <option value="Snails and shells">Snails/shells</option>
                    <option value="Sports">Sports</option>
                    <option value="Store event">Store/Event</option>
                    <option value="Tools">Tools</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Vegetation">Vegetation</option>
                  </select>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</body>
</html>